table#ticket th {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #ffffff;
}

table#ticket td {
    text-align: center;
    color: #ffffff;
}

table#ticket tbody tr td select {
    width: 100px;
}

table#ticket {
    background-color: #8BB467;
    width: 100%;
}

.ticketgeneralinfocontainer {
    PADDING: 6px 8px 5px 8px;
    FONT-SIZE: 12px;
    COLOR: #5a5a5a;
}

.right {
    float: right;
    margin: 1px 1px 1px 1px;
}

#post_details {
    background-color: #fafad2;
}

table#tickets {
    width: 100%;
    padding: 5px;
}
table#tickets th {
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}

table#tickets tr:hover {
    background-color:#fff8dc;
}

table#tickets tr:nth-child(odd){
    text-align: center;
}

table#tickets tr:nth-child(even){
    background-color: #d3d3d3;
    font-weight: bold;
}

a#ticket_link {
    color: #000000;
}
a#ticket_link:hover {
    text-decoration: none;
    color: red;
}

.clear {
    margin: 20px 10px 10px 10px;
}

.small {
    font-size: 16px;
    font-weight: bold;
}

.create td{
    width: 200px;
}

.new_reply {
    width: 100%;
}

.new_reply_textarea{
    width: 99%;
    min-height: 150px;
}
.ticketattachmentitemdelete {
    margin-right: 4px;
    width: 18px;
    display: inline-block;
    background: url("../images/icon_delete.gif") no-repeat 0px 1px;
    height: 18px;
    cursor: pointer;
}

.ticketattachmentitem {
    padding: 4px;
}

#replyattachmentcontainer {
    margin-bottom: 10px;
}